<div id="tdr_content_content" style="width:100%;max-width:100%;">
<h3><%= obj.track%></h3>
<%
  if obj
    #secure_token = grab_secure_token_url(obj.file_name, Rails.configuration.secure_token_audio_baseurl) if !obj.nil?
    #audio_base_url = "#{Rails.configuration.secure_token_audio_baseurl}#{obj.file_name}"
    wowzaURL = "#{Rails.configuration.wowza_audio_baseurl}#{obj.file_name}"
  end
%>
<% if wowzaURL %>

  <div id="dmr-audio">Loading the player...</div>

	<script type="text/javascript">
    let newWidth = 1;
    let parent = document.getElementById('dmr-audio').parentElement;
		jwplayer("dmr-audio").setup({
			playlist:
			[{
				sources:
				[
					{file: "https://<%=wowzaURL%>/playlist.m3u8"}					
				]
			}],
      height: 40,
      width: 300,
      analytics: {enabled: false}
		});
    jwplayer().on('ready', function() {
      resize();
      window.onresize = function() {
        resize();
      };    
    });
    function resize() {
      let currentWidth = parent.offsetWidth;
      jwplayer().resize(currentWidth * newWidth, 40);
    }
	</script>

<% end %>
</div>