<div id="tdr_content_content" style="width:100%;max-width:100%;">
<h3><%= obj.track%></h3>
<%
  if obj
    secure_token = grab_secure_token_url(obj.file_name, Rails.configuration.secure_token_audio_baseurl) if !obj.nil?
    audio_base_url = "#{Rails.configuration.secure_token_audio_baseurl}#{obj.file_name}"
  end
%>
<% if secure_token %>

  <div id="dmr-audio">Loading the player...</div>

	<script type="text/javascript">
		jwplayer("dmr-audio").setup({
			playlist:
			[{
				sources:
				[
					{file: "https://<%=audio_base_url%>/playlist.m3u8?<%=secure_token%>"}					
				]
			}],
			width: "100%",
			height: "30",
			analytics: {enabled: false}
		});
	</script>

<% end %>
</div>