<!DOCTYPE html>
<html lang="en">
<%= render :partial => 'shared/head'%>
<body>
<div class="container-fluid">
  <%= render :partial => 'audio_viewer' , :locals => {:obj => @audio}%>  
</div>
</body>
</html>