<!DOCTYPE html>
<html lang="en">
<%= render :partial => 'shared/head'%>
<body>
<div class="container-fluid">
  <h3><%= @audio.track%></h3>
  <%= render :partial => 'audio_viewer' , :locals => {:obj => @audio}%>  
</div>
</body>
</html>