<% if obj.errors.any? %>
  <div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">&#215;</button>
    <h5>The form contains <%= pluralize(obj.errors.count, "error") %></h5>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li> 
      <% end %>
    </ul>
  </div>
<% end %>
