<% if flash.any? %>
  <div class="alert alert-alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&#215;</button>
    <% flash.each do |name, msg| %>
      <div id="flash_#{name}"><%= msg %></div> 
    <% end %>
  </div>
<% end %>
