<footer>
	<section id="footer">
		<address>
			<strong>UC San Diego</strong>
			9500 Gilman Dr.
			La Jolla, CA 92093
			(858) 534-2230
		</address>
		<p>Copyright © 2015 Regents of the University of California. All rights reserved.</p>
		<ul class="inline">
			<li><a href="http://www.ucsd.edu/_about/legal/index.html">Terms &amp; Conditions</a></li>
			<li class="muted">|</li>
			<li><a href="#">Feedback</a></li>
			<li class="muted">|</li>
		  <li><a href="https://libraries.ucsd.edu/">Library Home</a></li>
		</ul>
	</section>
</footer>
