<section class="container-fluid ucsd-head">
  <a class="pull-right ucsd-head-logo" href="http://www.ucsd.edu">
    <%=image_tag "logo-ucsd-header.png", :alt => 'UC San Diego' %>
  </a>
  <a class="brand" href="<%= root_path%>">Digital Media Reserves (DMR)</a>
<img src="/assets/logo-ucsd-header-500ebffe4a167ae70cb7087626ec0852973ace85626a953633d53e401944460f.png"/>
</section>