<head>
  <title>DMR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//libraries.ucsd.edu/jwplayer/jwplayer.js"></script>
  <script src="//libraries.ucsd.edu/jwplayer/key.js"></script>  
  <%= csrf_meta_tags %>

</head>