<header>
  <section class="container-fluid ucsd-head">
	<a class="pull-right ucsd-head-logo" href="http://www.ucsd.edu">
	  <img src="http://library.ucsd.edu/dc/images/logo-ucsd-header-xl.png" alt="UC San Diego">
	</a>
	<a class="brand" href="/dmr/">DMR</a>
  </section>
</header>
