<section class="container-fluid ucsd-head">
  <a class="pull-right ucsd-head-logo" href="http://www.ucsd.edu">
    <%=image_tag "logo-ucsd-header.png", :alt => 'UC San Diego' %>
  </a>
  <a class="brand" href="<%= root_path%>">DMR</a>
</section>