<head>
  <title>DMR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://content.jwplatform.com/libraries/uS59kPRL.js"></script>
  <script src="https://libraries.ucsd.edu/jwplayer/key.js"></script>
  <meta name="google-site-verification" content="HI6wrYt0meZpVLczcK9LcLuAzgDbqWijEeUPIaR1Oh0" />
  <%= render :partial => 'layouts/googleanalytics'%>
  <%= csrf_meta_tags %>

</head>