	<head>
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
		<meta charset="UTF-8" />
		<meta content="index,follow,noarchive" name="robots"/>
		<meta content="UC San Diego Libraries" lang="en-US" name="KEYWORDS"/>
		<meta content="UC San Diego Libraries" lang="en-US" name="COPYRIGHT"/>
		<meta content="University of California, San Diego" name="ORGANIZATION"/>
        <meta name="google-site-verification" content="HI6wrYt0meZpVLczcK9LcLuAzgDbqWijEeUPIaR1Oh0" />
		<%= stylesheet_link_tag 'playlist', media: 'all', 'data-turbolinks-track' => true %>
		<title>Digital Media Reserves - The Library</title>
		<link href="//libraries.ucsd.edu/_resources/campus-design-2009/images/common/favicon.gif" rel="icon" type="image/gif"/>
		<link href="//libraries.ucsd.edu/_resources/campus-design-2009/css/campus/identity.css" media="all" rel="stylesheet" type="text/css"/>
		<link href="//libraries.ucsd.edu/_resources/campus-design-2009/css/campus/print.css" media="print" rel="stylesheet" type="text/css"/>
		<link href="//libraries.ucsd.edu/_resources/campus-design-2009/css/libraries.css" media="all" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="/assets/draw-menu.js"></script>
		
		<!--JWPlayer-->
		<script type="text/javascript" src="https://libraries.ucsd.edu/jwplayer/jwplayer.js" ></script>
		<script type="text/javascript" src="https://libraries.ucsd.edu/jwplayer/key.js" ></script>
		<%= render :partial => 'layouts/googleanalytics'%>
		
	</head>