<% if session[:search_option] && session[:search_option].include?("courses") %>
  <label class="radio-inline">
    <input type="radio" name="search_option" value="media">Media
  </label>
  <label class="radio-inline">
    <input type="radio" name="search_option"  value="courses" checked="checked">Courses
  </label>      
<% else %>
  <label class="radio-inline">
    <input type="radio" name="search_option" value="media" checked="checked">Media
  </label>
  <label class="radio-inline">
    <input type="radio" name="search_option"  value="courses">Courses
  </label>
<% end %>