<% if session[:search_option] && session[:search_option].include?("courses") %>
  <fieldset>
    <legend class="hide-label">Type</legend>
    <label class="radio-inline">
      <input type="radio" name="search_option" value="media">Video
    </label>
    <label class="radio-inline">
      <input type="radio" name="search_option" value="audio">Audio
    </label>
    <label class="radio-inline">
      <input type="radio" name="search_option"  value="courses" checked="checked">Courses
    </label>
  </fieldset>
<% elsif session[:search_option] && session[:search_option].include?("audio") %>
  <fieldset>
    <legend class="hide-label">Type</legend>
    <label class="radio-inline">
      <input type="radio" name="search_option" value="media">Video
    </label>
    <label class="radio-inline">
      <input type="radio" name="search_option" value="audio" checked="checked">Audio
    </label>
    <label class="radio-inline">
      <input type="radio" name="search_option"  value="courses">Courses
    </label>
  </fieldset>                 
<% else %>
  <fieldset>
    <legend class="hide-label">Type</legend>
    <label class="radio-inline">
      <input type="radio" name="search_option" value="media" checked="checked">Video
    </label>
    <label class="radio-inline">
      <input type="radio" name="search_option" value="audio">Audio
    </label>
    <label class="radio-inline">
      <input type="radio" name="search_option"  value="courses">Courses
    </label>
  </fieldset>
<% end %>
