<div class="content">
  <%= form_tag search_media_path, method: "GET" do%>
    <fieldset class="search">
      <%= text_field_tag :search, params[:search], placeholder: "Search Media or Courses ...", size: 50 %>   
      <%= submit_tag "", name: nil, class: "btn btn-primary btn-search" %>
      <div>
        <label class="radio-inline">
          <input type="radio" name="search_option" value="media" checked="checked">Media
        </label>
        <label class="radio-inline">
          <input type="radio" name="search_option"  value="courses">Courses
        </label>
      </div>     
    </fieldset>
  <% end %>
</div>