# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 000e48d20e7fbd2680ef3f9c2bfd643fd61e1a2a097491f4cd01b4288e106b0a1b774b6b35b09cab5a76e209d23250f3507768e8da99da56911084f077b87228

test:
  secret_key_base: bf92de3c1db0b5fd5acf0935162f0663dccaf9be88720e21e6aca6de10a2ead4247cde75d9e0ed1e7eb9cfe1c29de21702c85462bd8a27d9f37341e1eaedf6d1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
