<div id="tdr_content_content" style="width:100%;max-width:100%;">
<h3><%= obj.title%></h3>
<%
  if obj
    #secure_token = grab_secure_token_url(obj.file_name, Rails.configuration.secure_token_video_baseurl)
    #video_base_url = "#{Rails.configuration.secure_token_video_baseurl}#{obj.file_name}"
    wowzaURL = "#{Rails.configuration.wowza_baseurl}#{obj.file_name}"
  end
%>

<% if wowzaURL %>

  <video controls="controls" id="dar-video">Loading the player...</video>

	<script type="text/javascript">
		jwplayer("dar-video").setup({
			playlist:
			[{
				sources:
				[
					{file: "https://<%=wowzaURL%>/playlist.m3u8"},				
					{file: "https://<%=wowzaURL%>/manifest.mpd"}
				]
			}],
			width: "100%",
			height: "100%",
			aspectratio: "16:9",
			rtmp: {bufferlength: 3},
			analytics: {enabled: false}
		});
	</script>

<% end %>
</div>