<!DOCTYPE html>
<html lang="en">
<%= render :partial => 'shared/head'%>
<body>
<div class="container-fluid">
  <h3><%= @media.title%></h3>
  <%= render :partial => 'video_viewer' , :locals => {:obj => @media}%>  
</div>
</body>
</html>