<div class="required">
  <%= f.text_field :course, label: "Course"%>
</div>
<div class="required">
  <%#= f.text_field :quarter, label: "Quarter"%>
  <%= f.select :quarter, [["Fall", "Fall"],["Winter", "Winter"],["Spring", "Spring"],["Summer", "Summer"]], { label: "Quarter" }, { class: "selectpicker"} %>
</div>
<div class="required">
  <%= f.text_field :year, label: "Year"%>
</div>
<div class="required">
  <%= f.text_field :instructor, label: "Instructor"%>
</div>