<div class="container">
    <div class="row">
      <div class="panel panel-default">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th class="col-xs-4" scope="col">Course</th>
              <th class="col-xs-2" scope="col">Quarter</th>
              <th class="col-xs-2" scope="col">Year</th>
              <th class="col-xs-1" scope="col">Instructor</th>
            </tr>
          </thead>
          <tbody>
            <% obj.each do |c| %>
              <tr>    
                <td><%= link_to "#{c.course}", edit_course_path(c.id)%></td>
                <td><%= c.quarter %></td>
                <td><%= c.year %></td>
                <td><%= c.instructor %></td>
              </tr>
            <% end %>
          <tbody>
        </table>
      </div>
    </div>
</div>
