<div class="ribbon">
  <a href="#">Archive</a>
</div>
<% if @courses && @courses.count > 0%>
  <div class="text-center">
    Displaying <b><%= @courses.count %></b> results<br/>
  </div>       
  <%= render :partial => 'archive_search_result' , :locals => {:obj => @courses}%> 
<% elsif @courses && @courses.count == 0%>
  <div class="text-center">There were no results for the search: "<%= params[:search]%>"</div>
<% end %>