<h3>Listing Courses</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Course</th>    
      <th>Quarter</th>
      <th>Year</th>
      <th>Instructor</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to "#{course.course}", edit_course_path(course.id)%></td>      
        <td><%= course.quarter %></td>
        <td><%= course.year %></td>
        <td><%= course.instructor %></td>
      </tr>
    <% end %>
  </tbody>
</table>

