<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <%= render :partial => 'shared/report_header'%>
  <body>
    <%= render :partial => 'shared/report_menu'%>	
	<div id="tdr_content" class="tdr_fonts">
	  <div id="tdr_content_content" style="width:100%;max-width:80%;">    			
        <%= render :partial => 'video_playlist'%>
      </div>
      <div class="ListItems" style="position:inherit;">
        <div id="list" style="position:relative; margin-left:10%; width: 81.4%;">
        </div>
      </div>
    </div>
    <%= render :partial => 'shared/report_footer'%>		
  </body>
</html>
