<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <%= render :partial => 'shared/report_header'%>
  <body>
    <%= render :partial => 'shared/report_menu'%>				
    <%= render :partial => 'video_playlist'%>
    <%= render :partial => 'shared/report_footer'%>		
  </body>
</html>
