<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <%= render :partial => 'shared/report_header'%>
  <body>
    <%= render :partial => 'shared/report_menu'%>	
	<div id="tdr_content" class="tdr_fonts" style="width:80%;margin-left:auto;margin-right:auto;">
	  <div id="tdr_content_content" style="width:100%;max-width:100%;">    			
        <%= render :partial => 'video_playlist'%>
      </div>
      <div class="ListItems" style="position:inherit;width:100%;">
        <div id="list">
        </div>
      </div>
    </div>
    <%= render :partial => 'shared/report_footer'%>		
  </body>
</html>
